/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES*/
:root {
  --silver: #aaaaaa;
  --accent-color: #2e5dca;
  --white: #f3f3f3;
  --fw-500: 500;
  --fw-700: 700;
  --margin-small: 1em;
  --padding-small: 0.5em;
}

/* BODY STYLES */
body {
  font-family: "Red Hat Display", sans-serif;
  background: linear-gradient(85deg, #161616, #070707);
  color: var(--white);
}

/* STYLES FOR NAVBAR STYLES */
#header {
  background: linear-gradient(85deg, #191818, #171717);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  z-index: 999;
}

.nav-logo,
#header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-img {
  height: 4vh;
  border-radius: 2em;
}

#nav-bar {
  margin-right: 2em;
}

.nav-logo {
  margin-left: 2em;
  color: var(--accent-color);
}

.nav-ul {
  display: flex;
  gap: 5vw;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: var(--white);
  font-weight: var(--fw-500);
  padding: 1em 1.3em;
  border-radius: 1.5em;
  transition: 500ms ease-in-out;
}

.nav-link:hover {
  color: var(--accent-color);
}

/* STYLES FOR FORM */
.form-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10em;
}

.form-header {
  font-weight: var(--fw-500);
}

/* STYLES FOR EMAIL INPUT */
#email {
  padding: var(--padding-small);
  margin-top: var(--margin-small);
  border-radius: 0.2em;
  border: none;
}

/* STYLES FOR SUBMIT BUTTON */
#submit {
  display: block;
  width: 100%;
  padding: var(--padding-small);
  margin-top: var(--margin-small);
  cursor: pointer;
  border: none;
  border-radius: 0.2em;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: var(--fw-700);
  transition: 500ms ease-in-out;
}
/* STYLES FOR MAIN CONTENT */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features {
  margin-top: 5em;
}

.flex-container {
  display: flex;
  margin: 2em 0;
  padding: 0.5em;
}

.features,
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  width: 100%;
  max-width: 20%;
  margin-right: 0.5em;
}
/* STYLES FOR HOW IT WORKS SECTION */
#video {
  margin: 4em auto;
}

/* STYLES FOR PRICING SECTION */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2em;
}

.title {
  padding: 0.5em;
  background-color: var(--accent-color);
}

.product {
  text-align: center;
  background-color: #151515;
  border: 1px solid rgb(253, 253, 253);
  min-width: 17rem;
}

.product-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  margin: 0.5em;
}

.btn {
  padding: 0.7em 1em;
  margin: 1em;
  font-size: 1.2rem;
  background-color: var(--accent-color);
  color: #f3f3f3;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.list {
  list-style: none;
  line-height: 200%;
}

/* STYLES FOR FOOTER */

.wrapper {
  max-width: 59rem;
  width: 100%;
  margin: 0 auto;
}

footer {
  background-color: var(--accent-color);
  padding: 1em 0.5em;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  text-decoration: none;
  gap: 1em;
  margin-bottom: 0.2em;
}

.link-item {
  text-decoration: none;
  color: #f3f3f3;
}

.copyright {
  display: flex;
  justify-content: flex-end;
}

/* SMALL SCREENS */
@media (max-width: 650px) {
  #header {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    border-bottom: 2px solid var(--silver);
  }

  #nav-bar {
    margin: 0;
  }
  .nav-ul {
    flex-direction: column;
    text-align: center;
    gap: 0;
    margin: 0.5em 0;
  }

  .nav-link {
    padding: 0;
  }

  .nav-logo {
    margin: 0.5em 0;
  }

  .form-header {
    letter-spacing: normal;
  }

  /* FEATURES STYLES */
  .features,
  .description,
  .flex-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .description {
    max-width: 100%;
  }

  /*STYLES FOR HOW IT WORKS SECTION */
  #how_it_works {
    display: flex;
  }
  #video {
    max-width: 90vw;
  }

  /* STYLES FOR PRICING SECTION */
  .container {
    flex-direction: column;
  }
}

@media (min-width: 651px) and (max-width: 767px) {
  /* NAVBAR STYLES */
  #nav-bar {
    margin: 0 0.5em;
  }
  .nav-ul {
    margin: 0.5em 1em;
  }

  .nav-link {
    padding: 0;
  }

  .nav-logo {
    margin: 0 0.5em;
  }
  /* PRICING SECTION STYLES */

  .container {
    gap: 1rem;
  }

  .product {
    min-width: 8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* NAVBAR STYLES */
  #nav-bar {
    margin: 0 1em;
  }
  .nav-ul {
    margin: 0.5em 1.5em;
  }

  .nav-link {
    padding: 0;
  }

  .nav-logo {
    margin: 0 1.5em;
  }

  /* PRICING SECTION STYLES */
  .product {
    min-width: 14rem;
  }
}
